Repository brianhartsock/ansible-role-avahi: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-lint, ansible-lint, flake8-lint

yaml-lint:
  name: Run YAML lint
  entry: yamllint
  language: system

ansible-lint:
  name: Ansible Lint
  entry: ansible-lint
  language: system

flake8-lint:
  name: Run Python lint (Flake8)
  entry: flake8
  language: system

Added release github action
  .github/workflows/release.yml
Due: yaml-lint, ansible-lint

Simplified .yamllint; Fixed resulting lint errors
  .ansible-lint
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .yamllint
  defaults/main.yml
  meta/main.yml
  tasks/main.yml
Due: yaml-lint, ansible-lint

Fix check mode on handler
  handlers/main.yml
  molecule/check_mode/converge.yml
  molecule/check_mode/molecule.yml
  molecule/check_mode/prepare.yml
  molecule/default/molecule.yml
Due: yaml-lint, ansible-lint

Run check_mode molecule scenario in build
  .github/workflows/ci.yml
Due: yaml-lint, ansible-lint

Removed linting from molecule
  molecule/check_mode/molecule.yml
  molecule/default/molecule.yml
Due: yaml-lint, ansible-lint

README updates
  README.md
Due: none

Remove focal support
  meta/main.yml
  molecule/default/molecule.yml
Due: yaml-lint, ansible-lint

Update requirements.txt
  requirements.txt
Due: none

Update tested Ubuntu versions in README
  README.md
Due: none

Migrate from pip/pip-tools to uv
  .flake8
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .yamllint
  CLAUDE.md
  pyproject.toml
  requirements.in
  requirements.txt
  uv.lock
Due: yaml-lint, ansible-lint

Sync project config to best practices
  .claude/settings.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  molecule/check_mode/molecule.yml
  pyproject.toml
  uv.lock
Due: yaml-lint, ansible-lint

Ignore .claude/settings.local.json
  .gitignore
Due: none

Fix INJECT_FACTS_AS_VARS deprecation warnings and modernize loops
  defaults/main.yml
  tasks/main.yml
Due: yaml-lint, ansible-lint

Bump min_ansible_version to 2.18
  meta/main.yml
Due: yaml-lint, ansible-lint

Add avahi_additional_packages variable for installing companion packages
  CLAUDE.md
  README.md
  defaults/main.yml
  molecule/default/converge.yml
  molecule/default/tests/test_default.py
  tasks/main.yml
Due: yaml-lint, ansible-lint, flake8-lint

Add __pycache__ to .gitignore
  .gitignore
Due: none

Add Dependabot grouping and auto-merge workflow
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: yaml-lint, ansible-lint

Simplify auto-merge and add branch protection script
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  scripts/configure-branch-protection.sh
Due: yaml-lint, ansible-lint

Path conditions:
  yaml-lint: any of: \.(yaml|yml)$
  ansible-lint: any of: \.(yaml|yml)$
  flake8-lint: any of: \.py$
